<h3>Código</h3>

<table class="table table-condensed">      
    <tr>
      <td>Nombre: </td>
      <td><%= codeName %></td>
   </tr>
    <tr>
       <td>Categoría: </td>
       <td><%= service %></td>
   </tr>
   <tr>
       <td>Descripción: </td>
       <td><%= author %></td>
   </tr>
   <tr>
       <td>Localización: </td>
       <td><%= location %></td>
   </tr>
   <tr>
       <td>Plataforma: </td>
       <td><%= platform %></td>
   </tr>
   <tr>
       <td>Nuevo despliegue:</td>
       <td><a href="#newDeployment/<%= id %>">Despliegue</a></td>
   </tr>
</table>